body {
  font-family: Helvetica;
  background-color: #003;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  padding-left: 50px;
  padding-top: 20px;
  a {
    color: #ffb;
    text-decoration: none;
    font-size: 1.5em;
  }
}

nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: lowercase;
    li {
      float: left;
      border-right: 1px solid #ffb;
      a {
        padding: 5px;
      }
      a:hover {
        background-color: #ee0;
        color: #003;
      }
    }
    li.last {
      border-right: none;
    }
  }
}

section#page {
  clear: both;
  background-color: #ee0;
  margin: 0;
  padding: 5px 0px 5px 50px;
  width: 100%;
  color: #003;
}

footer {
  border-top: 10px solid #ffb;
  color: #ffb;
  padding: 5px 0px 5px 50px;
}
